DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/imoveo"
NEXTAUTH_SECRET="gerar-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://IP_SERVIDOR_LOCAL"
NODE_ENV="production"
UPLOAD_DIR="/app/uploads"
MAX_FILE_SIZE=10485760
POSTGRES_PASSWORD="password-forte"
