@import "tailwindcss";

@theme inline {
  --color-brand-primary: #1D9E75;
  --color-brand-dark: #0F6E56;
  --color-brand-light: #E1F5EE;
  --color-brand-pale: #F4FAF8;
  --color-brand-black: #0D1B1A;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #F4FAF8;
  color: #374151;
  font-size: 13px;
  font-weight: 400;
}
